body{
    margin-left: 55px;
    background: #111;
    color: greenyellow; 
     /* color: blue;       */
    font-family: monospace;
    font-size: 18px;
}
input{
    width: 100%;
    background: #111;
    color: blue;
     color: greenyellow; 
    font-family: monospace;
    font-size: 18px;
    border: none;    
}
input:focus{
    outline: none;
}
.window{
    display: flex;
    flex-direction: column;
}
#form{
    display: flex;
}
.footer{
    width: 100%;
    height: 20px;
}